* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to top, #ff8763 0%, #fda5bb8b 100%);
}

.navbar {
    background: #131313;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    background-color: #131313;
    align-items: center;
    height: 100%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    color: #131313;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    width: 50%;
}

@media screen and (min-width:700px) {
    #navbar__logo {
        color: #fff;
    }
}

.navbar__btn {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 1rem;
}

.button {
    height: 65%;
    width: 50%;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 20px;
    background: #f77062;
    color: #fff;
    transition: all 0.3s ease;
    margin: 0 10px;
}

.button:hover {
    background: #4837ff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.control_button {
    height: 50%;
    width: 15%;
    min-width: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 20px;
    background: #6280f7;
    color: #fff;
    transition: all 0.3s ease;
    margin: 0 10px;
}

.control_button:hover {
    background: #4837ff;
    transition: all 0.3s ease;
    cursor: pointer;
}

#number_container {
    height: 85%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

#number_list {
    list-style: none;
    align-items: center;
    justify-content: center;
    position: relative;
    display: block;
    margin: 0 50px;
}

.rand_num {
    float: left;
    font-size: 3rem;
    color: #fff;
    height: 100px;
    width: 100px;
    margin: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 100px;
    background-image: linear-gradient(to top, #8400ff 0%, #e8a9ff 100%);
}